<div id="content">
  <ul id="table1" class="ui-sortable">
    <li class="ui-state-default" id="no_1">No.1</li>
    <li class="ui-state-default" id="no_2">No.2</li>
    <li class="ui-state-default" id="no_3">No.3</li>
    <li class="ui-state-default" id="no_4">No.4</li>
    <li class="ui-state-default" id="no_5">No.5</li>
  </ul>
  <ul id="table2" class="ui-sortable">
    <li class="ui-state-default" id="no_6">No.6</li>
    <li class="ui-state-default" id="no_7">No.7</li>
  </ul>
</div>

